body {
    background-color: rgba(0, 0, 0, .2);

    &.add_stop {
        padding-right: 15px !important;
        overflow: hidden;
    }
}

html {
    height: 1200px;
}

#app {
    padding-top: 80px;

    header {
        width: 100%;
        height: 80px;
        position: fixed;
        top: 0;
        background-color: salmon;

        ul {
            display: flex;

            li {
                flex: 1;
            }
        }
    }

    .block {
        height: 100px;
    }

    .container {
        padding: 200px;

        .el-dropdown-link {
            cursor: pointer;
            color: #409EFF;
        }

        .el-icon-arrow-down {
            font-size: 12px;
        }
    }
}

.el-tree {
    max-height: 200px !important;
    overflow-y: auto !important;
}